# Environment
.env.*
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.venv/
venv/
.mypy_cache/
.pytest_cache/

# Node
node_modules/
frontend/dist/
frontend/build/

# Docker volumes
pgdata/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

frontend-next/.next/